* {
    padding: 0%;
    margin: 0%;
}

.fbsite {
    left: 35%;
    position: relative;
    height: 100px;
    width:  100px;
    margin: 20px 20px 20px 20px;

}
.twtsite {
    left: 35%;
    position: relative;
    height: 100px;
    width:  100px;
    margin: 20px 20px 20px 20px;
}
.instasite{
    left: 35%;
    position: relative;
    height: 100px;
    width:  100px;
    margin: 20px 20px 20px 20px;

}
.carousel{
    width:75%;
    height:25%;
  }
#bg-main {
    content: fill;
    max-width: 100%;
    min-width: 100%;
}
#cover-front {
    position: absolute;
    font-family: 'Dancing Script','cursive';
    font-weight: 600vw;
    left:300px;
    top: 150px;
    font-size: 18vw;  
    color: 	#ff1493;  
}
#twice-logo-grid1 {
    position: relative;
    max-width: 250px; 
    max-height: 250px;
}
#twice-members-grid2 {
    position: relative;
    max-width: 250px; 
    max-height: 250px;
    left: 40px;
}

#twice-candybong-grid3 {
    position: relative;
    max-width: 250px; 
    max-height: 250px;
    left: 40px;
}
#twice1 {
    object-fit: fill;
  width: 100%;
  max-height: 100%;
}
#predebut-img {
    height: 100%;
    width: 100%;
}
#twicedebut-img {
    height: 100%;
    width: 100%;

}
#twicedebut1-img {
    height: 100%;
    width: 100%;

}
#twicedebut2-img {
    height: 100%;
    width: 100%;
}

